.env
.virtualenvs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
.venv/
env.bak/
venv.bak/
# Ignorer tous les fichiers .txt sauf ceux spécifiquement autorisés
*.txt
!requirements.txt
!Roadmap-Django5_API.txt
*.log
*.csv
*.json
venv/